@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;
@use '../../foundation/functions' as *;

/* service */
.p-service {
  margin-top: rem(52);
  padding-top: rem(26);
  padding-bottom: rem(91);
  position: relative;

  @include media(l) {
    margin-top: rem(85);
    padding-top: rem(49);
    padding-bottom: rem(100);
  }

  &__img {
    width: clamp-rem(375, 69, 1440, 124);
    position: absolute;
    top: -48px;
    right: to-percent(20, 375);

    @include media(l) {
      top: 94px;
      right: to-vw(178, 1440);
    }
  }

  &__title-wrapper {
    margin-top: rem(15);

    @include media(l) {
      margin-top: rem(20);
    }
  }

  &__cards {
    margin-top: rem(24);
    display: grid;
    flex-direction: column;
    gap: rem(51);

    @include media(l) {
      margin-top: rem(64);
      gap: rem(92);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(500);
    margin: 0 auto;

    @include media(l) {
      flex-direction: row;
      gap: rem(56);
      max-width: none;
      margin: 0;
    }
    // ここから↓のモディファイアの部分はこのセクションの勘所
    &.p-service__card--reverse {
      @include media(l) {
        flex-direction: row-reverse;
        justify-content: flex-end;

        & .p-service__card-number {
          text-align: right;
          margin-left: 0;
          margin-right: rem(-77);
        }
      }
    }

    &-img {
      @include media(l) {
        width: to-vw(516, 1440);
      }
    }

    &-body {
      @include media(l) {
        width: to-vw(430, 1440);
      }
    }

    &-heading-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      @include media(l) {
        flex-direction: column;
      }
    }

    &-number {
      font-family: $english-fonts;
      font-size: rem(48);
      font-weight: 700;
      color: $sub-color;

      @include media(l) {
        font-size: rem(168);
        margin-left: rem(-77);
        z-index: -10;
      }
    }

    &-heading {
      padding: rem(10) rem(16);
      background-color: $white;
      font-size: rem(24);
      font-weight: 700;
    }

    &-description {
      margin-top: rem(12);
      font-weight: 400;
      line-height: 1.8;

      @include media(l) {
        margin-top: rem(48);
      }
    }

    &-btn-wrapper {
      margin-top: rem(28);
    }
  }
}