@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;
@use '../../foundation/keyframes' as *;
@use '../../foundation/functions' as *;

/* nav-sp */
.c-nav-sp {

  &--header {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    translate: 100vw;
    text-align: center;
    transition: all 0.6s;
  }

  &--footer {
    width: to-vw(610, 1440);
  }

  &__list {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: rem(24.7);
    padding-top: rem(36);

    &--footer {
      gap: rem(32);

      @include media(l) {
        // flex-direction: row;
        // flex-wrap: wrap;
        padding-top: 0;
        gap: rem(40) rem(24);
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-areas:
          'a1 a2 a3 .'
          'b1 b2 b3 b4'
          'c1 c2 c3 c4';

        & .c-nav-sp__item {
          &:nth-child(1) {
            grid-area: a1;
          }

          &:nth-child(2) {
            grid-area: a2;
          }

          &:nth-child(3) {
            grid-area: a3;
          }

          &:nth-child(4) {
            grid-area: b1;
          }

          &:nth-child(5) {
            grid-area: b2;
          }

          &:nth-child(6) {
            grid-area: b3;
          }

          &:nth-child(7) {
            grid-area: b4;
          }

          &:nth-child(8) {
            grid-area: c1;
          }

          &:nth-child(9) {
            grid-area: c2;
          }

          &:nth-child(10) {
            grid-area: c3;
          }

          &:nth-child(11) {
            grid-area: c4;
          }
        }

        & .c-nav-sp__link {
          justify-content: start;
        }
      }
    }
  }

  &__item {
    &:last-child {
      margin-left: rem(-27);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(8);
  }

  &__copy {
    margin-top: rem(19);
    font-size: rem(12);

    &--footer {
      margin-top: rem(58);
      text-align: center;
    }
  }

  @include media(l) {
    &.c-nav-sp--header {
      display: none; // PCでは非表示
    }
  }

  &.is-open {
    translate: 0;

    @include media(m) {
      translate: 60vw;
    }
  }
}